<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <base href="http://localhost/ProyectoFinalLenPro3/">

  <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.min.css">
  <script src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script>

  <title>Tareas | editar</title>
</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="container menuContainer my-4"></div>
    </header>
    <main>
      <div class="container my-4">
        <form id="formulario">
          <div class="row mb-4">
            <div class="form-group col">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control" id="titulo" name="titulo">

              <label for="descripcion">Descripción</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion">
              <button class="btn btn-primary mt-2" onclick="actualizar()">Editar</button>
              <a href="views/tareas/index.html" class="btn btn-primary mt-2">Cancelar</a>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>

  <script>
    $(document).ready(function () {
      $('.menuContainer').load('views/layouts/navbar.html');

      consultar();
    })

    function consultar() {
      const params = (new URL(location).searchParams);
      const id = params.get('id');

      $.ajax({
        url: "controllers/ctrlTarea.php",
        type: "POST",
        dataType: "json",
        data: "accion=consultar&id=" + id,

        success: function (msj) {
          if (msj.length > 0) {
            $('#titulo').val(msj[0].titulo);
            $('#descripcion').val(msj[0].descripcion);
            return;
          }
        },

        error: function (msj) {
          Swal.fire({
            text: msj['message'],
            icon: msj['icon']
          })
        },
      })
    }

    function actualizar() {
      const params = (new URL(location).searchParams);
      const id = params.get('id');

      $("#formulario").submit((event) => {
        event.preventDefault();

        let datos = $("#formulario").serialize();
        
        $.ajax({
          url: "controllers/ctrlTarea.php",
          type: "POST",
          dataType: "json",
          data: datos + "&accion=actualizar&id=" + id,
  
          success: function (msj) {
            Swal.fire({
              text: msj['message'],
              icon: msj['icon']
            })
          },
  
          error: function (msj) {
            Swal.fire({
              text: msj['message'],
              icon: msj['icon']
            })
          },
  
        });
      })
    }
  </script>
</body>

</html>